<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @lessons_learned.content %>
</p>

<%= link_to 'Edit', edit_lessons_learned_path(@lessons_learned) %> |
<%= link_to 'Back', lessons_learneds_path %>
